.hero {
  padding: 80px 0;
  display: flex;
  align-items: center;
}

.hero__content {
  margin-right: 24px;
}

.hero__description {
  margin: 24px 126px 0 0;
}

.hero__button {
  margin-top: 32px;
}
